<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.firebase.ml.md"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/recash_launcher"
        android:label="Re-cash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".kotlin.Rewardsactivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EntryChoiceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.LiveObjectDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.LiveBarcodeScanningActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".java.StaticObjectDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".kotlin.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.LiveObjectDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.History"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kotlin.LiveBarcodeScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.StaticObjectDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".kotlin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlin.SignUpActivity" />
        <activity android:name=".kotlin.HomeActivity" />
        <activity android:name=".kotlin.Profile" />
    </application>

</manifest>